I03URB_1015/I03URB_XMLSchemaGPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Saját egyszerű típus: csak betűket és szóközt enged -->
    <xs:simpleType name="sajatTipus">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-zÁÉÍÓÖŐÚÜŰáéíóöőúüű\s\-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Gyökérelem -->
    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="EtteremTipus" maxOccurs="unbounded"/>
                <xs:element name="foszakacs" type="FoszakacsTipus" maxOccurs="unbounded"/>
                <xs:element name="szakacs" type="SzakacsTipus" maxOccurs="unbounded"/>
                <xs:element name="gyakornok" type="GyakornokTipus" maxOccurs="unbounded"/>
                <xs:element name="vendeg" type="VendegTipus" maxOccurs="unbounded"/>
                <xs:element name="rendeles" type="RendelesTipus" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ====== Étterem ====== -->
    <xs:complexType name="EtteremTipus">
        <xs:sequence>
            <xs:element name="nev" type="sajatTipus"/>
            <xs:element name="cim" type="CimTipus"/>
            <xs:element name="csillag" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="ekod" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- ====== Főszakács ====== -->
    <xs:complexType name="FoszakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="sajatTipus"/>
            <xs:element name="eletkor" type="xs:integer"/>
            <xs:element name="vegzettseg" type="sajatTipus" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="fkod" type="xs:ID" use="required"/>
        <xs:attribute name="e_f" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- ====== Szakács ====== -->
    <xs:complexType name="SzakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="sajatTipus"/>
            <xs:element name="reszleg" type="sajatTipus"/>
            <xs:element name="vegzettseg" type="sajatTipus" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="szkod" type="xs:ID" use="required"/>
        <xs:attribute name="e_sz" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- ====== Gyakornok ====== -->
    <xs:complexType name="GyakornokTipus">
        <xs:sequence>
            <xs:element name="nev" type="sajatTipus"/>
            <xs:element name="gyakorlat" type="GyakorlatTipus"/>
            <xs:element name="muszak" type="sajatTipus" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="gykod" type="xs:ID" use="required"/>
        <xs:attribute name="e_gy" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- ====== Vendég ====== -->
    <xs:complexType name="VendegTipus">
        <xs:sequence>
            <xs:element name="nev" type="sajatTipus"/>
            <xs:element name="eletkor" type="xs:integer"/>
            <xs:element name="cim" type="CimTipus"/>
        </xs:sequence>
        <xs:attribute name="vkod" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- ====== Rendelés ====== -->
    <xs:complexType name="RendelesTipus">
        <xs:sequence>
            <xs:element name="osszeg" type="xs:integer"/>
            <xs:element name="etel" type="sajatTipus"/>
        </xs:sequence>
        <xs:attribute name="e_v_e" type="xs:IDREF" use="required"/>
        <xs:attribute name="e_v_v" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- ====== Cím ====== -->
    <xs:complexType name="CimTipus">
        <xs:sequence>
            <xs:element name="varos" type="sajatTipus"/>
            <xs:element name="utca" type="sajatTipus"/>
            <xs:element name="hazszam" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ====== Gyakorlat ====== -->
    <xs:complexType name="GyakorlatTipus">
        <xs:sequence>
            <xs:element name="kezdete" type="xs:string"/>
            <xs:element name="idotartama" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
