I03URB_0924/VM_kurzusfelvetel.dtd

<!ELEMENT VM_kurzusfelvetel (hallgato, kurzusok)>
    <!ATTLIST VM_kurzusfelvetel 
        tanev CDATA #REQUIRED
        egyetem CDATA #FIXED "ME">
    
    <!ELEMENT hallgato (nev, szulev, szak+)>
        <!ATTLIST hallgato
            id ID #REQUIRED>

        <!ELEMENT nev (#PCDATA)>
        <!ELEMENT szulev (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
            <!ATTLIST szak
                evf CDATA #REQUIRED>

    <!ELEMENT kurzusok (kurzus)*>
        <!ELEMENT kurzus (kurzusnev, kredit, hely, idopont+, (oktato|oraado)?)>
            <!ATTLIST kurzus
                id ID #REQUIRED 
                nyelv CDATA #IMPLIED
                jovahagyas (igen|nem) "nem">

            <!ELEMENT kurzusnev (#PCDATA)>
            <!ELEMENT kredit (#PCDATA)>
            <!ELEMENT hely (#PCDATA)>
            <!ELEMENT idopont (#PCDATA)>
            <!ELEMENT oktato (#PCDATA)>